/*resetttt*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-serif;
}
/*a {color: inherit;}*/
body {
  background: linear-gradient(
    128deg,
    rgb(253, 232, 232) 0%,
    rgba(255, 255, 255, 1) 11%,
    rgb(221, 221, 221) 60%,
    rgba(255, 255, 255, 1) 70%
  );
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-gap: 16px;
  grid-template-areas: "header nav nav" "main main aside";
  max-width: 1000px;
  margin: 0 auto;
}
.main {
  grid-area: main;
}
.main-header {
  grid-area: header;
  background: rgb(255, 99, 71);
  padding: 20px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  width: 300px;
}
.main-header__header {
  color: white;
  font-family: serif;
  font-size: 40px;
}
.main-header__sentence {
  color: #333333;
  font-family: serif;
}
.nav {
  grid-area: nav;
  align-self: center;
  justify-self: end;
  background-color: rgba(255, 99, 71, 0.6);
  border-radius: 5px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.nav__link {
  display: block;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  padding: 3px 18px;
  border-radius: 5px;
  margin: 10px 0;
}
.nav__link:first-child {
  margin-left: 10px;
}
.nav__link:last-child {
  margin-right: 10px;
}
.nav__link:hover,
.nav__link:focus {
  background: white;
  color: tomato;
  text-shadow: none;
}
.author {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}
.author__title {
  margin-top: 20px;
}
.author__photo {
  max-width: 200px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
}
.author__note {
  margin-top: 20px;
}
.social-icons {
  margin-top: 20px;
  font-size: 20px;
}
.social-icons_bigger {
  font-size: 35px;
}
.social-icons__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
.social-icons__info,
.social-icons__method {
  display: none;
}
.social-icons__link {
  color: rgb(18, 211, 137);
}
.social-icons__link:hover {
  color: rgb(15, 168, 110);
}

.social-icons__item {
  position: relative;
}
.social-icons__item:hover .social-icons__info {
  position: absolute;
  top: -40px;
  left: -0%;
  display: block;
  background: #333;
  color: #fff;
  border-radius: 3px;
  padding: 6px;
  font-size: 15px;
}
.social-icons__item:hover .social-icons__info::before {
  content:'';
  position: absolute;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #333 transparent transparent transparent;
}

.welcome {
  background-image: url("img/people.jpg");
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 200px;
  padding: 30px;
  border: 0px solid black;
  border-radius: 16px;
  text-align: center;
}
.welcome__heading {
  font-size: 40px;
  color: rgb(0, 153, 69);
  text-shadow: rgb(0, 0, 0) 4px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
    rgb(0, 0, 0) -0.416147px 0.909297px 0px,
    rgb(0, 0, 0) -0.989992px 0.14112px 0px,
    rgb(0, 0, 0) -0.653644px -0.756802px 0px,
    rgb(0, 0, 0) 0.283662px -0.958924px 0px,
    rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}
.welcome__sign {
  margin-top: 45px;
  font-size: 20px;

  color: rgb(0, 153, 69);
  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
    rgb(0, 0, 0) -0.416147px 0.909297px 0px,
    rgb(0, 0, 0) -0.989992px 0.14112px 0px,
    rgb(0, 0, 0) -0.653644px -0.756802px 0px,
    rgb(0, 0, 0) 0.283662px -0.958924px 0px,
    rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}
.welcome__image {
  display: inline-block;
  margin: 10px 0 10px;
  height: 150px;
}
.about {
  background-color: blue;
  margin-top: 20px;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
}
.about__header {
  text-shadow: 0px 0px 5px white;
  color: darkblue;
}
.about__image {
  max-width: 200px;
  float: left;
  margin: 15px;
  border-radius: 20px;
}
.projects {
  margin-top: 20px;
  padding: 20px 20px 0 0;
}
.projects__header {
  color: red;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 50px;
  float: left;
}
.projects__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: calc(100% - 60px);
}
.single-project {
  background: orange;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  margin-bottom: 30px;
}
.single-project__name {
  color: yellow;
}
.single-project__description {
  margin-top: 10px;
  text-align: justify;
}
.contact,
.contact__description {
  margin-top: 20px;
}
.contact__header {
  text-transform: uppercase;
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 0px 3px #222;
}
/*kurwa, no nie mam lepszego pomysłu na tą stopke xd. Ta działa !*/
.footer {
  visibility: hidden;
}
.html--footer {
  position: relative;
}
.html--footer::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 60px 300px;
  border-color: transparent transparent #41f74abe transparent;
  position: absolute;
  bottom: 0;
  right: 0px;
  visibility: visible;
  justify-content: flex-end;
}
.html--footer::after {
  content: "© Eliano 2021";
  visibility: visible;
  color: rgb(17, 61, 0);
  text-align: right;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.clear {
  clear: both;
}
@media (max-width: 768px) {
  .aside {
    display: none;
  }
  body {
    grid-template-areas: "header" "nav" "main";
    grid-template-columns: 1fr;
    padding: 0 16px;
  }
  .main-header,
  .nav {
    margin: 0 auto;
  }
  .footer {
    margin-bottom:30px;
  }
}
@media (max-width: 365px) {
  .welcome__heading {
    font-size:30px;
  }
}

/* -------------------- ------------------------------------------------------ */
.diary {
  margin-top: 20px;
}

.diary__header {
  background: white;
  color: green;
  border-radius: 5px;
  padding: 10px;
}
.note {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid red;
}
.note:last-child {
  border: none;
}
.note__header {
  color: purple;
}
.note__date {
  float: right;
}
